@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body{
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    flex-direction: column;
    gap: 2em;
    background: #232931;
    color: #232931;
    margin: 0;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

header{
    width: 100%;
    text-align: center;
    background: #556677;
}
h1{
    font-size: 4em;
    color: 393e46;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

#btn-container{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0.5em 0;
}
button{
    font-family: inherit;
    padding: 20px;
    font-size: 8em;
    border-color: 2px solid #393e46;
    background-color: #393e46;
    color: #ffffff;
}

button:hover{
    border: 2px solid;
    transition: 0.07s ease;
    box-shadow: 0px 4px 8px 1px black;
    border-color: #4ecca3;
}

.score{
    box-shadow: 0px 4px 8px 1px black;
    padding: 0.7em;
    font-size: 3em;
    color: #4ecca3;
}

.result{
    padding: 10px;
    text-align: center;
    width: 60%;
    font-size: 3em;
    color: white;
}

i{
    pointer-events: none;
}